<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Edit Your Post</h1>
    <h2>Id: <%= post.id %></h1>
    <h2>Username: <%= post.username %></h2>
   <form action="/posts/<%= post.id %>?_method=PATCH" method="post">
     <textarea rows="15" cols="35" name="content" id=""><%= post.content %></textarea>
     <br>
    <button>Edit</button>
   </form>
</body>
</html>