<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create A Post</title>
  </head>
  <body>
    <form action="/posts" method="post">
      <input type="text" placeholder="enter username" name="username" />
      <br>
      <textarea name="content" placeholder="write your post" id=""></textarea>
      <br>
      <button>Submit</button>
    </form>
  </body>
</html>
