<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create A Post</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1 class="create-title">Create a New Post</h1>

    <form action="/posts" method="post">
      <input type="text" placeholder="Enter username" name="username" required />
      <textarea name="content" placeholder="Write your post..." required></textarea>
      <button type="submit">Submit</button>
    </form>

    <a href="/posts" class="back-btn">← Back to all posts</a>
  </body>
</html>
